<h1>新規タスク</h1>
<%= form_with model:@task do |form| %>
  <div><%= form.label :title %></div>
  <div><%= form.text_field :title %></div>
  <div><%= form.submit %></div>
<% end %>
<%= link_to '戻る', tasks_path %>